html {
	font-family: Arial, Helvetica, sans-serif;
}

.ce-popover--inline .ce-popover--nested .ce-popover__container {
	width: min-content !important;
	min-width: unset !important;
}

.ce-popover--inline .ce-popover--nested .ce-popover__items {
	width: max-content;
}

.editorjs__colorpicker-container {
	display: grid;
	gap: 8px;
	padding: 6px;
}

.editorjs__colorpicker-label {
	color: #78716C;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	grid-column: 1 / -1;
}

.editorjs__colorpicker-tooltip {
	position: fixed;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	background-color: #454241;
	color: #fff;
	border-radius: 6px;
	padding: 6px 8px;
	z-index: 1000;

	white-space: nowrap;
	pointer-events: none;
}

.editorjs__color-selector__container-item:hover .editorjs__colopicker--selector__container-item__tooltip,
.editorjs__background-selector__container-item:hover .editorjs__colopicker--selector__container-item__tooltip {
	opacity: 1;
}


.editorjs__color-selector__container-item::before {
	content: "A";
	position: absolute;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	inset: 0;
}

.editorjs__color-selector__container-item,
.editorjs__background-selector__container-item {
	position: relative;
	width: 24px;
	height: 24px;
	display: block;
	cursor: pointer;
	border-radius: 6px;
}

.editorjs__color-selector__container-item--shadow,
.editorjs__background-selector__container-item--shadow {
	position: absolute;
	inset: 0;
	box-shadow: 0 0 0 1px inset;
	border-radius: 6px;
	transition: all 0.5s ease;
}

.editorjs__color-selector__container-item--shadow:hover,
.editorjs__background-selector__container-item--shadow:hover {
	box-shadow: 0 0 0 2px inset;
}